[Unit]
Description=udp2raw service
After=syslog.target network.target auditd.service

[Service]
User=root
Type=simple
PermissionsStartOnly=true
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
ExecStart=/usr/local/bin/udp2raw_amd64  -s -l 0.0.0.0:27015 -r 127.0.0.1:27010 -k maintell -a
Restart=always
RestartSec=30
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
